<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Cargo</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
      <h1>Editar Cargo</h1>

      <form
        th:action="@{/cargo/editar}"
        th:object="${cargo}"
        method="post"
        class="app-form"
      >
        <input type="hidden" th:field="*{idCargo}" />

        <div class="form-group">
          <label for="nome">Nome do Cargo:</label>
          <input type="text" id="nome" th:field="*{nome}" required />
        </div>

        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        <a th:href="@{/cargo}" class="btn btn-secondary"
          >Voltar para a lista</a
        >
      </form>
    </div>
  </body>
</html>
