<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novo Cargo</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
      <h1>Cadastrar Novo Cargo</h1>
      <form
        th:action="@{/cargo/novo}"
        th:object="${cargo}"
        method="post"
        class="app-form"
      >
        <div class="form-group">
          <label for="nome">Nome do Cargo</label>
          <input
            type="text"
            id="nome"
            th:field="*{nome}"
            minlength="1"
            maxlength="50"
            required
          />
        </div>
        <input type="submit" value="Cadastrar" class="btn btn-primary" />
        <a href="/cargo" class="btn btn-secondary">Voltar para Lista</a>
      </form>
    </div>
  </body>
</html>
