<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Painel Central - Oficina MechaMax</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
      <h1>Olá! Seja bem-vindo ao Painel de Cadastro da Oficina MechaMax</h1>
      <h3>Use o Header para navegar pelas funções do sistema.</h3>
    </div>
  </body>
</html>