<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciar Modelos</title>
    <link rel="stylesheet" th:href="@{/index.css}" />
  </head>
  <body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div class="container">
      <h1>Modelos cadastrados no sistema</h1>

      <div>
        <h2>Modelos Cadastrados</h2>
        <div style="margin-bottom: 15px">
          <a th:href="@{/modelo/novo}" class="btn btn-primary"
            >Adicionar Novo Modelo</a
          >
        </div>

        <table class="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome do Modelo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="modelo : ${modelos}">
              <td th:text="${modelo.idModelo}"></td>
              <td th:text="${modelo.nome}"></td>
              <td>
                <a
                  th:href="@{/modelo/editar/{id}(id=${modelo.idModelo})}"
                  class="btn btn-secondary"
                  >Editar</a
                >
                <a
                  th:href="@{/modelo/excluir/{id}(id=${modelo.idModelo})}"
                  class="btn btn-danger"
                  >Excluir</a
                >
                <a
                  th:href="@{/modelo/detalhes/{id}(id=${modelo.idModelo})}"
                  class="btn btn-primary"
                  >Detalhes</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
